.header {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  z-index: 5;
}

.header_left > img {
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.header_middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_middle > p {
  padding: 6px;
  margin: 2px;
  align-items: center;
  justify-content: space-between;
  font-size: bold;
  font-weight: 600;
  color: black;
}

.header_middle > p:hover {
  background: whitesmoke;
  border-radius: 5px;
}

.header_right {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f5f5f6;
  border-radius: 4px 4px 4px 4px;
  background: #f5f5f6;
  width: 600px;
}

.header_right > input {
  font-size: 14px;
  height: 20px;
  line-height: 24px;
  width: 90%;
  color: #696e79;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 4px 30px 10px;
  outline: 0;
  border: 1px solid #f5f5f6;
  border-radius: 0 4px 4px 0;
  border-left: 0;
  background: #f5f5f6;
}

.header_right .header_search {
  font-size: 22px;
  height: 20px;
  color: #696e79 !important;
}

.header_righttitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 35px 10px 10px;
  float: right;
}

.profile{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.header_righttitle > .MuiSvgIcon.root {
  left: 5px !important;
  cursor:pointer !important;
}

.profile_icon:hover{
  color:crimson !important;
  cursor:pointer !important;
}

.wishlist{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  color:black;
}

.wishlist_icon:hover{
  color:crimson !important;
  cursor:pointer !important;
}


.cart{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
}

.basket_icon:hover{
  color:crimson !important;
  cursor:pointer !important;
}

.header__basketCount {
  margin-left: 2px;
  /* margin-right: 5px; */
}

.header__optionLineTwo {
  font-size: 10px;
  font-weight: 750;
  padding-left: 10px;
  justify-content: space-around;
}

.header__optionLineTwo:hover{
  color:crimson;
  cursor:pointer;
}


