.productitem{
    display:flex;
    align-items: center;
    justify-content:space-between;
    margin:0px;
    padding:9px;
}

.product_container{
    display:flex;
    justify-content: center;
    align-items: center;
    /* max-width: 600px; */
    flex-wrap: wrap;
}

.product_container > .product_card{
    width:250px;
    height:350px;
    box-shadow: 4px 4px 4px 4px rgba(153, 110, 110, 0.53);
    border-radius: 15px;
    background:rgba(255,255,255,0.1);
    display:flex;
    justify-content: center;
    align-items: center;
}

.product_container > .product_card > .product_content{
    padding:20px;
    text-align: center;
    transition:0.8s;
}

.product_container > .product_card > .product_content > img{
    width:100%;
    height:300px;
    border-radius: 12px;
}

